* {
  box-sizing: board-box;
  user-select: none;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#introScene {
  background-image: url(http://p1.pichost.me/i/11/1344899.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.hudIntro{
    font-family: 'Hammersmith One', sans-serif;
    position: absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    padding: 0;

    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

.hudIntro h1{
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 50px;
  padding: 0;
  text-transform: uppercase;
  width: 400px;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
.hudIntro input{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  bottom: 20px;
  left: 0;
  right: 0;
  background: white;
  color: black;
  border: 0;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 20px;
  border-radius: 4px 4px 4px 4px;
}

.hudIntro button{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
	margin: 20px auto;
  margin-left: 40px;
	max-width: 400px;
	text-decoration: none;
  border : 0;
  background: none;
  border-radius: 4px;
	padding: 20px 30px;

  color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  width: 400px;
  height: 60px;

  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  font-size : 18px;
}
.hudIntro button:hover{
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.disable{
  height: 100%;
  width: 100%;
  display: none;
}
.enable{
  height: 100%;
  width: 100%;
  display: block;
}
.board{
  position: absolute;
  top : 10px;
  right: 20px;
  width : 300px;
  height : 200px;
  background: gray;
  opacity: 0.65;
  overflow: hidden;
}
.board h2{
  margin: 0px auto;
  font-size : 26px;
  text-align: center;
  text-shadow: 1px;
  font-family: 'Hammersmith One', sans-serif;
}
.board p{
  margin: 1px auto;
  text-align: center;
  text-overflow: ellipsis;
  font-size : 20px;
  font-family: 'Hammersmith One', sans-serif;
}
